<div class="container-fluid">
  <div class="row my-4">
    <div class="col-sm-6 d-flex justify-content-start align-items-center offset-1">
      <h3 class="px-4 mb-0" style="background-color:#e9ecef;">商品一覧</h3>        
    </div>
    <div class="col-sm-4 text-right">
      <%= link_to new_admin_item_path do %>
        <button type="button" class="btn btn-white btn-lg rounded-circle p-0 shadow" style="width:3rem;height:3rem;">＋</button>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-sm-10">
        <table class="table table-hover table-borderless">
          <thead>
            <tr class="bg-light font-weight-bold border-top">
              <td>商品ID</td>
              <td>商品名</td>
              <td>税抜価格</td>
              <td>ジャンル</td>
              <td>ステータス</td>
            </tr>
          </thead>
          <tbody class="border-bottom">
            <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><u><%= item.name %></u></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <td class="font-weight-bold">
                <% if item.is_active == true %>
                  <span class="text-success">販売中</span>
                <% else %>
                  <span class="text-secondary">販売停止中</span>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
  <div class="row justify-content-center mt-2">
    <p><%= paginate @items %></p>  
  </div>
</div>
