<div class="container-fluid">
 <div class="row my-5 offset-sm-2">
  <h3 class="px-4" style="background-color:#e9ecef;">管理者ログイン</h3>
 </div>
 <div class="container-fluid">
  <%= form_with model:@admin,url: admin_session_path do %>
   <div class="row offset-sm-3 align-items-center">
    <div class="col-sm-3">
      <p class="h5 pr-4 mb-4">メールアドレス</p>
    </div>
    <div class="col-sm-6 field mb-4">
      <input type="email" autofocus="autofocus" class="form-control">
    </div>
   </div>
   <div class="row offset-sm-3 align-items-center">
    <div class="col-sm-3">
      <p class="h5 pr-4 mb-0">パスワード</p>
    </div>
    <div class="col-sm-6 field">
     <input type="password" autocomplete="off" class="form-control">
    </div>
   </div>
   <div class="row offset-3 mt-5">
    <div class="col-3"></div>
    <div class="col-6 actions">
      <input type="submit" value="ログイン" class="btn btn-primary px-5">
    </div>
   </div>
  <% end %>
  
  <%= render "admin/shared/links" %>
 </div>
</div>


<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
