<div class="container-fluid">
  <div class="row my-4 offset-2">
    <h3 class="px-4" style="background-color:#e9ecef;">ログイン</h3>
  </div>
  <div class="row offset-sm-2">
    <h4 class="ml-4 px-4" style="background-color:#e9ecef;">会員の方はこちらからログイン</h4>
  </div>
  <div class="row my-4 justify-content-sm-center">
    <%= form_with model: @customer,url: customer_session_path,method: :post do |f| %>
    <div class="row my-3">
      <div class="col-sm-4 d-flex align-items-center">
        <h4 class="mb-0">メールアドレス</h4>
      </div>
      <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "sample@example.com",class: "form-control",size: 50 %>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-sm-4 d-flex align-items-center">
        <h4 class="mb-0">パスワード</h4>
      </div>
      <div class="col-sm-8">
        <%= f.password_field :password, autocomplete: "current-password",class: "form-control",size: 50 %>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-4"></div>
      <div class="col-sm-8">
        <%= f.submit "ログイン",class: "btn btn-primary btn-lg text-white px-5" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row my-3 offset-sm-2">
    <h4 class="ml-4 px-4" style="background-color:#e9ecef;">会員登録がお済みでない方</h4>
  </div>
  <div class="row offset-sm-3">
    <h4><%= link_to "こちら",new_customer_registration_path %> から新規登録を行ってください。</h4>
  </div>
</div>

<% render "public/shared/links" %>
